<?xml version="1.0"?>

<launch>

  <node pkg="pcl_ros" type="pointcloud_to_pcd" name="save_map" output="screen">
    <remap from="/input" to="/blam/blam_slam/octree_map"/>
    <param name="prefix" value="$(find atlas80evo)/maps/"/>
    <param name="fixed_frame" value="map"/>
    <param name="binary" value="false"/>
    <param name="compressed" value="false"/>
  </node>

</launch>
