<?xml version="1.0"?>

<model>
  <name>PSA_environment</name>
  <version>1.0</version>
  <sdf version="1.5">model.sdf</sdf>

  <author>
    <name>Samuel Chieng Kien Ho</name>
    <email>samuel@shadoev.com</email>
  </author>

  <description>
    An Environment (Store and Maintenance Workshop) used for PSA.
  </description>
</model>
