<?xml version="1.0"?>

<robot xmlns:xacro="http://ros.org/wiki/xacro" name="bumper">
  <xacro:property name="M_PI" value="3.1415926535897931"/>

  <xacro:macro name="${name}_bumper" params="parent *bumper_pose update_rate">

  <link name="${name}_bumper_link">
    <xacro:insert_block name="bumper_pose"/>
  </link>

  <gazebo reference="${name}_bumper_link">
    <plugin name="${name}_gazebo_ros_bumper_controller" filename="libgazebo_ros_bumper.so">
      <alwaysOn>true</alwaysOn>
      <updateRate>${update_rate}</updateRate>
      <bumperTopicName>${name}_bumper</bumperTopicName>
      <frameName>world</frameName>
    </plugin>
  </gazebo>

  </xacro:macro>
</robot>
